html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

#app {
	display: flex;
	flex-flow: row;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.popover {
	background-color: white;
	padding: 10px;
}

.gutter.gutter-horizontal {
	cursor: ew-resize;
}

#editor {
	flex: 1 0 auto;
	width: 0px; /* The width is managed by flex-grow */
	height: 100%;
}

#controls {
	flex: 0 0 0;
}

#sidebox {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#storagebox {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	overflow-y: scroll;
}

#registers {
	flex: 1 0 auto;
}

#memory {
	flex: 1 0 auto;
}

.storage {
	display: flex;
	flex-flow: column;
	margin-left: 10px;
	margin-right: 10px;
}

.storage-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.storage-cell-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	text-align: center;
	color: darkgray;
	font-size: 0.7em;
}

.storage-cell {
	display: flex;
	flex-flow: column;
	margin-top: 4px;
	margin-bottom: 4px;
}

input[type=text] {
	width: 40px;
}

.editor-line-highlight {
	background-color: rgba(255, 217, 0, 0.26);
}

.breakpoint {
	background-color: red;
	clip-path: circle(4px at center)
}

h3 {
	margin-left: 10px;
	margin-right: 10px;
}
