html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

#app {
	display: flex;
	flex-flow: row;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#editor {
	flex: 1 0 auto;
	width: 0px; /* The width is managed by flex-grow */
	height: 100%;
}

#controls {
	flex: 0 0 0;
}

#storage {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
}

#registers {
	flex: 1 0 auto;
}

#memory {
	flex: 1 0 auto;
}

.storage-cell-container {
	overflow-wrap: normal;
}

input[type=text] {
	width: 40px;
}

.editor-line-highlight {
	background-color: rgba(255, 217, 0, 0.26);
}

.storage-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	margin-left: 10px;
	margin-right: 10px;
}
